<title>Clean Blog</title>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <%= link_to post_path do %>
                    <h2 class="post-title">
                        Man must explore, and this is exploration at its greatest
                    </h2>
                    <h3 class="post-subtitle">
                        Problems look mighty small from 150 miles up
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
            </div>
            <hr>
            <div class="post-preview">
                <%= link_to post_path do %>
                    <h2 class="post-title">
                        I believe every human has a finite number of heartbeats. I dointend to waste any of mine.
                    </h2>
                <% end %>
                <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
            </div>
            <hr>
            <div class="post-preview">
                <%= link_to post_path do %>
                    <h2 class="post-title">
                        Science has not yet mastered prophecy
                    </h2>
                    <h3 class="post-subtitle">
                        We predict too much for the next year and yet far too little the next ten.
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on Aug24, 2014</p>
            </div>
            <hr>
            <div class="post-preview">
                <%= link_to post_path do %>
                    <h2 class="post-title">
                        Failure is not an option
                    </h2>
                    <h3 class="post-subtitle">
                        Many say exploration is part of our destiny, but it’s actuaour duty to future generations.
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July2014</p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>

<%= render 'footer' %>













<p id="notice"><%= notice %></p>

<h1>Podcasts</h1>
<div class="container">
  <h3>container</h3>container
</div>

<table class='table table-condensed'>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      ...
    </div>
  </div>

  <tbody>
    <% @podcasts.each do |podcast| %>

      <tr>
        <td><%= podcast.title %></td>
        <td> hosted by: <br><%= podcast.host %></td>
        <!-- <td><%= podcast.description %></td> -->
        <td><%= truncate(podcast.description, :length => 30) %></td>
        <!-- <td><%= podcast.my_review %></td> -->
        <td><%= truncate(podcast.my_review, :length => 40) %></td>
        <!-- <td><%= podcast.url %></td> -->
        <td><%= truncate(podcast.url, :length => 20) %></td>
        <td><%= link_to 'Show', podcast %></td>
        <td><%= link_to 'Edit', edit_podcast_path(podcast) %></td>
        <td><%= link_to 'Destroy', podcast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Podcast', new_podcast_path %>
